@import "var";
body {
  font-size: 18px;
}
header {
  background-color: $bg-primary;
  height: 3.2rem;
  width: 100% !important;
  .logo {
    margin-right: 5.6rem;
    a img {
      width: 2.5rem;
      height: 2.3rem;
    }
  }
  .btn-menu {
    a i {
      font-size: 1.8rem;
      color: $text-color-menu;
    }
  }
}
#sidebar.active {
  .hidden {
    opacity: 0;
    display: none;
  }
  .dropdown-toggle::after {
    display: none;
  }
}
